vulnscan/**
.pytest_cache/**
tests/__pycache__/**
utilities/__pycache__/**
scanners/__pycache__/**
models/__pycache__/**
handlers/__pycache__/**
core/__pycache__/**
src/core/__pycache__/**
data/**
logs/**